extends layout 
    
block content
     body(class="bg-black min-h-screen w-full flex items-center justify-center text-secondaryFont")
        div(class=" bg-white w-96 h-96 rounded-md shadow-sm p-4 box-border ")
            h1(class="whitespace-nowrap tracking-tight text-2xl font-bold text-center") Atención Médica
            p(class=" text-secondaryFontColor mt-2 text-center" ) Inicie sesión para acceder a su agenda
            div(class="w-full h-4/5 flex flex-col items-center justify-center")
                form(action="/login" method="POST" class="bg-slate-800" class="w-full flex flex-col items-center justify-center")
                    div(class=" w-full h-20 flex flex-col") 
                        label(for="user") Nombre de usuario
                        input(type="text" name="user" placeholder="ingrese nombre de usuario" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2")
                    div(class=" w-full h-20 flex flex-col")
                        label(for="pass") Contraseña
                        input(type="password" name="pass" placeholder="Ingrese su contraseña" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2")
                    button(type="submit" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium  transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-secondaryColor text-primary-foreground hover:bg-secondaryColor/90 h-10 px-4 py-2 w-full mt-6") Iniciar 
                p   ¿Olvidó su contraseña? Contacte al administrador del sistema.
