extends layout 
    
block content
     body(class="bg-primaryForeground min-h-screen w-full flex items-center justify-center font-sans")
        div(class="bg-white w-96 h-4/5 rounded-md shadow-sm p-4 box-border ")
            h1(class="whitespace-nowrap tracking-tight text-2xl font-bold text-center") Atención Médica
            p(class=" text-thirdFont mt-2 text-center" ) Inicie sesión para acceder a su agenda
            div(class="w-full h-4/5 flex flex-col items-center justify-center")
                form(action="/login" method="POST" class="w-full flex flex-col items-center justify-center mt-10 gap-2")
                    div(class=" w-full h-20 flex flex-col") 
                        label(for="user" class="mb-1 font-medium") Nombre de usuario
                        input(type="text" name="user" placeholder="ingrese nombre de usuario" class=" text-thirdFont flex h-10 w-full rounded-md border bg-transparent px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2")
                    div(class=" w-full h-20 flex flex-col")
                        label(for="pass" class="mb-1 font-medium") Contraseña
                        input(type="password" name="pass" placeholder="Ingrese su contraseña" class=" text-thirdFont flex h-10 w-full rounded-md border bg-transparent px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2")
                    button(type="submit" class=" text-white inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors  bg-secondaryColor hover:bg-secondaryColor/90 h-10 px-4 py-2 w-full mb-5") Iniciar
                p(class="text-center text-sm text-thirdFont")   ¿Olvidó su contraseña? Contacte al administrador del sistema.